*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.productContainer{
    width: 100%;
    height: 50vh;
    background: red;
    padding: 5rem 0;

}
.productInner{
    border: 1px solid grey;
    width: 40rem;
    padding: 5rem 0;
    background-color: green;
}


/* random api css part  */

.contents-api{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.apiImg{
    width: 8rem;
}
